# Core ML + Dependencies
tensorflow==2.14.0
mediapipe==0.10.11
protobuf==3.20.3
numpy==1.26.4
scipy==1.11.4
opencv-python==4.9.0.80

# Project-specific
pyautogui==0.9.54
pygetwindow==0.0.9
pyttsx3==2.90
pynput==1.7.6
flask==2.2.5
speechrecognition==3.10.0
pyaudio==0.2.13
